/* MAIN COLOR: */
.items{
    color: #841800;
}
/* SHADES: */

.items{
    color: #C84D33;
    color: #A52F16;
    color: #841700;
    color: #5E1000;
    color: #360900;
}

/* COMPLEMENT: */
.items{
    color: #25914E;
    color: #107837;
    color: #006024;
    color: #004419;
    color: #00270F;
}

/* Import font */
/* @font-face {
    font-family: logoFont;
    src: url('/styles/logo-font.otf');
  } */

html,body{
    background-color: #fff;
    font-family: 'EB Garamond';
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

*{
    text-decoration: none !important;
}

header .pre-scroll,
header .post-scroll{
    /* background-color: pink; */
    display: none;
}
header .pre-scroll.active,
header .post-scroll.active{
    /* background-color: pink; */
    display: flex;
}

.nav{
    position:fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav.pre-scroll{
    background-color: #841800;
    box-shadow: 0 0 0;
    justify-content: space-between;
}
.nav.pre-scroll .links a{
    color: #fff;
}
.nav.pre-scroll .links a:last-child{
    margin-left: auto;
}
.nav .post-scroll{
    background-color: #fff;
}
.nav .logo img{
    width: 40%;
    height: auto;
}
.nav .logo{
    /* font-family: logoFont; */
    color: #000;
    opacity: 0.7;
}
.nav .logo span{
    font-family: 'EB Garamond';
    font-size: 4vh;
    font-weight: 300;
}
.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.nav.pre-scroll .links{
    /* background-color: blue; */
    width: 100%;
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.nav .links a{
    opacity: 0.7;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
.nav .links a:hover{
    /* color: #25914E; */
    opacity: 1;
    transform: scale(1.1);
}
.nav.post-scroll .links .mainlink{
    color: #841800;
    /* color: #25914E; */
}
.nav.pre-scroll .links .mainlink{
    color: #fff;
    opacity: 1;

    /* background-color: #25914E;
    border-radius: 10%;
    padding: 6px 6px 6px 6px; */
    
    
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}

/* Lading */

.landing{
    background-color: #841800;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 10vw 0 5vw;
    height: 80vh;
    overflow-y: hidden;
}
.landingText{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.landingText .logo-img{
    width: 60vw;
    height: auto;
    padding-left: 0;
    
    /* margin-right: -40px; */
}
.landingText h1{
    padding-left: 5vw;
    font-size: 6vw;
    margin: 0 !important;
    color: #FFF;
}
.landingText span{
    color: rgb(173, 169, 169);
    font-size: 4vw;
}
.landingText h3{
    padding-left: 5vw;
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.8;
    line-height: 30px;
    color: #fff;
}
.landingText a.btn{
    width: 120px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-color: #25914E;
    /* background-color: #006024; */
    border-radius: 45px;
    text-align: center;
    border: solid 1px #fff;
    border: none;
    transition: all .2s ease-in-out;
    opacity: 0.9;
}
.landingText a.btn:hover{
    transform: scale(1.1);
    opacity: 1;
    font-weight: 400;
}
.landingText a.btn{
    /* text-transform:uppercase; */
    /* font-family: 'Roboto'; */
    font-weight: 300;
    font-size: 20px;
    color: #FFF;
    margin-left: 5vw;
}

.landingImage img{
    height: 20vw;
    max-height: 20%;
    opacity: 0.7;
    transition: all ease-in-out 0.2s;
}
.landingImage img:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

/* About Section */

.about {
    height: 60vh;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.aboutText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}
.aboutText h2{
    position: relative;
    font-size: 50px;
    left: 110px;
}
.aboutText span{
    color: #C84D33;
    font-size: 35px;
}
.aboutText img{
    width: auto;
    height: 30vh;
    position: absolute;
    top: 160px;
    right: 50px;
}

.aboutList{
    width: 50%;
}
.aboutList ol{
    list-style: none;
    color: #00270F;
}

.aboutList ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #C84D33;
}

.aboutList ol li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

.aboutList ol li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
    color: #107837;
}

/* Info section */
.infoSection{
    height: auto;
}

.infoHeader{
    text-align: center;
    margin-bottom: 5%;
}
.infoHeader h2{
    font-size: 50px;
}
.infoHeader span{
    color: #C84D33;
    font-size: 35px;
}
.infoCards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap;
    align-items: center; */
    /* padding: 40px 20px 40px 20px; */
}
.infoCards .card{
    justify-content: space-between;
    flex:1;
    /* padding: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    min-width: 45vw;
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: auto; */
    min-height: 100%;
    /* height:100vh; */
    /* max-width: 100%; */
    width: 45%;
    /* max-height: 80vh; */
    /* height: 360px; */
    /* width: 350px; */
    margin-bottom: 35px;
    background: #fff;
    box-shadow: 0 10px 22px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);
}
.infoCards .one .cardOneImg{
    width: 180px;
    position: absolute;
    top:-40px;
    right: -20px;
    border-radius: 50%;
    height: 18vh;
    width: auto;
    z-index: 10;
    border: solid 4px #000;
    box-shadow: 0 10px 22px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);
    transition: all ease-in-out 0.2s;
    /* border: solid 4px #ededed; */
}
.infoCards .one .cardOneImg:hover{
    transform: scale(1.3);
}
/* .infoCards .two .cardTwoImg{
    width: 158px;
    position: absolute;
    top:-50px;
    right: -50px;
}
.infoCards .three .cardThreeImg{
    width: 200px;
    position: absolute;
    top:-50px;
    right: -50px;
} */
.cardTop{
    height: 100px;
    display: flex;
    width: 100%;
    background-color: #841700;
    align-items: flex-end;
    /* padding: 0 10px 0 20px; */
}
.cardTop h2{
    font-weight: 600;
    color: #fff;
    padding-left: 5%;
}
/* .cardBGOne{
    height: 150px;
    background-color: #C84D33;
}
.cardBGTwo{
    height: 150px;
    background-color: #25914E;
}
.cardBGThree{
    height: 150px;
    background-color: #C84D33;
} */
.cardContent{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    /* padding: 0 20px; */
    height: auto;
    /* background-color: blue; */
}
.cardContent h2{
    font-weight: 600;
}
.cardContent p{
    padding: 0% 5% 0% 5%;
    align-content: flex-start;
    line-height: 30px;
    opacity: 0.6;
    text-align: center;
}
.infoCards .card .social-icons{
    /* align-content: flex-end; */
    /* position: absolute; */
    /* bottom: 0; */
    /* z-index: 10; */
    /* position: relative; */
    /* align-content: center;
    align-self: center; */
    /* background-color: pink; */
    /* align-items: center; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 2%;
    padding-top: 2%;
    list-style: none;
    /* flex: 1 ; */
    /* margin-left: 120px; */
    /* align-items: center; */
    /* align-content: center; */
    
}
.social-icons li:last-child{
    margin-right: 10%;
    /* background-color: green; */
    /* margin-left: 1%; */
    /* justify-content: flex-start; */
    
}
.social-icons li:hover .cardBtn{
    opacity: 1.0;
    transform: scale(1.2);

}
.cardBtn{
    /* position: absolute; */
    margin-left: 5px;
    /* right: 20px; */
    padding: 10px;
    /* background-color: #ededed; */
    background-color: #841700;
    /* background-color: red; */
    color: #fff;
    font-size: 1.5vw;
    opacity: 0.8;
    /* width: 25px;
    height: 20px; */
    border-radius: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
    transition: all ease-in-out 0.2s;
}
/* .cardBtn:hover{
    background-color: #25914E;
} */
.cardBtn .cardIcon{
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
}


/* Banner and footer */
.banner{
    height: auto;
    /* background-color: #ffce63; */
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.bannerText h2{
    font-size: 50px;
    color: #000;
    font-weight: 600;
}
.bannerText span{
    color: #C84D33;
    font-size: 35px;
}
.bannerText p{
    font-size: 20px;
    margin-right: 10%;
    text-align: initial;
    padding: 0% 5% 0% 5%;
    align-content: flex-start;
    line-height: 30px;
    opacity: 0.6;
}

.bannerText img{
    width: auto;
    max-height: 8vh;

    margin-right: 20px;
}

.bannerImg img{
    width: 20vw;
}
.banner .banner-images{
    padding-top: 2%;
    display: flex;
    /* margin-right: 10%; */
    justify-content: flex-start;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 600px){
    /* NAV BAR */
    .nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 12px;
        height: auto;
        overflow-y: hidden;
        align-items: center;
        text-align: center;
    }
    .nav .logo span{
        font-family: 'EB Garamond';
        font-size: 4.5vh;
        font-weight: 300;
    }
    .nav .logo img{
        width: 80%;
        height: auto;
    }
    .nav h4{
        font-size: 6vw;;
        margin-top: 10px;
        margin-bottom: 14px;

    }
    .nav .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: blue; */
        width: 100%;
    }
    .nav .links a{
        font-size: 12px;
        /* margin-right: 25px;
        font-size: 12px;
        font-weight: 600;
        display: inline-block; */
    }
    /* LANDING */
    .landing{
        flex-direction: column-reverse;
        height: 90vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .landingText .logo-img{
        width: 100%;
        margin: 0;
        padding:0;
    }
    .landingText h1{
        font-size: 6vw;
        margin: 0 !important;
    }
    .landingText h3{
        font-size: 4vw;
    }
    .landingText a.btn{
        font-size: 4vw;
        margin: 0 auto;
        margin-top: 10%;
    }
    .landingImage img{
        width: 10vh;
        height: auto;
        margin-bottom: 20px;
    }

    /* About */
    .about{
        height: auto;
        padding: 0px;
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutText{
        padding: 0 50px;
        height: 100px;
    }
    .aboutText h2{
        left: 40px;
        font-size: 7vw;
    }
    .aboutText span{
        font-size: 5vw;
    }
    .aboutText img{
        width: 10vw;
        height: auto;
        top: 10px;
        left: -20px;
    }
    .aboutList{
        width: 75%;
    }
    ol li{
        font-size: 26px;
    }
    li p{
        font-size: 14px;
    }
    /* Info */
    .infoSection{
        height: auto;
    }
    .infoHeader{
        text-align: center;
        margin: 40px 0;
    }
    .infoHeader h2{
        font-size: 7vw;
    }
    .infoHeader span{
        font-size: 5vw;
    }
    .infoCards{
        /* display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .infoCards .card{
        margin-bottom: 15%;
        margin-top: 15%;
    }
    .infoCards .one .cardOneImg{
        top:-25px;
    }
    .social-icons li .cardBtn{
        font-size: 4vw;
    }
    /* Banner */
    .banner{
        height: auto;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner h2{
        font-size: 7vw;
    }
    .banner span{
        font-size: 5vw;
    }
    .bannerText p{
        text-align: center;
        font-size: 15px;
        padding: 0% 0% 0% 0%;
    }
    .bannerInnerText{
        /* font-size: 3vw !important; */
    }
    .bannerText img{
        /* width: 26vw; */
    }
    .banner .banner-images{
        justify-content: space-around;
    }

}
