.testimonials-section {
    width: 100%;
    background-image: url('/images/header.png');
    /* display: flex; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .testimonials-section .background{
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
} */
.testimonials{
    /* padding: 12% 0% 12% 0%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content:stretch; */
    align-items: center;
    height: 55vh;
    /* min-height: 100%; */
    /* align-content: center; */
    margin: 40px auto;
    /* max-width: 700px; */
    
    /* background-size: 100% auto; */
    /* padding: 12% 0% 12% 0%; */
}
.testimonials-section .testimonials-title{
    color: #fff;
    /* font-size: 150%; */
    /* font-size: 4vw; */
    /* font-weight: 600; */
    padding-bottom: 2%;
    padding-top: 2%;
    /* background-color: red; */
    font-size:35px;
}
.testimonials-section .testimonials-title h2{
    /* color: red; */
}
.testimonials-section .testimonials-title span{
    color: #C84D33;
    opacity: 0.8;
    font-size: 25px;
}
.testimonials .testimonial-info .inactive{
    display: none;
}
.testimonials .testimonial-info .active{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4 1 auto;
}
.testimonials p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    color: #fff;
}
.testimonials .testimonials-quote{
    font-style: italic;
    font-size: 20px;
}
.testimonials .testimonials-name{
    font-weight: 600;
    font-size: 25px;
}
.testimonials img{
    /* padding-top: 10%; */

    border: solid #fff 5px;
    border-radius: 50%;
    height: auto;
    max-width: 200px;
    margin-bottom: 5%;
    transition: ease box-shadow 2s;
}
.testimonials img:hover{
    /* box-shadow: 5px 10px 18px #888888; */
    box-shadow: 5px 10px 20px #888888;
}
.testimonials-section .control-buttons{
    flex: 1 1 auto;
    width: 100%;
    /* margin-bottom: 0; */
    align-self: flex-end;
    padding-bottom: 3%;
    /* padding-left: 10%; */
    /* margin-left: 30%; */
    /* height: 20%; */
    /* margin-right: 10%; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-self: right; */
    /* align-items: left; */
    /* position: absolute; */
    color: #fff;
    /* background-color: blue; */
    z-index: 1000;
    
}
.testimonials-section .control-buttons .testimonial-buttons{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    /* background-color: blue; */
}
.testimonials-section .control-buttons .testimonial-buttons span {
    height: 30px;
    width: 30px;
    margin: 0 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.testimonials-section .control-buttons .testimonial-buttons span::before {
    content: "";
    height: 30%;
    width: 30%;
    background-color: #d4d4d4;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.testimonials-section .control-buttons .testimonial-buttons span:hover::before {
    background-color: #fff;
}
.testimonials-section .control-buttons .testimonial-buttons span.active::before {
    background-color: red;
}
.testimonials-section .control-buttons .testimonial-buttons span[data-quote="active"]::before {
    background-color: red;
}

.testimonials-section .control-buttons .play-btns{
    /* align-self: right; */
    /* background-color: red; */
    /* position: absolute; */
    font-size: 80%;
    align-items: flex-end;
    /* padding: 0; */
    /* margin: 0; */
    padding-top: 8%;
    padding-left: 5%;
    bottom: 10%;
}
.testimonials-section .control-buttons svg{
    margin-left: 10px;
    cursor: pointer;
    font-size: 120%;
    opacity: 50%;
    transition: box-shadow 1s;
}
.testimonials-section .control-buttons svg:hover{
    box-shadow: 5px 10px 18px #888888;
}
.testimonials-section .control-buttons svg:hover{
    opacity: 100%;
}
.testimonials-section .control-buttons svg.active{
    color:red;
}
@media only screen and (max-width: 800px){
    .testimonials{
        /* padding: 12% 0% 12% 0%; */
        padding: 0 0% 0 0%;
    }
}
@media only screen and (max-width: 600px){
    .testimonials-section .testimonials-title{
        /* font-size: 30px; */
        padding-bottom: 0;
        text-align: center;
        font-size: 7vw;
    }
    .testimonials-section .testimonials-title h2{
        /* color: red; */
        
    }
    .testimonials-section .testimonials-title span{
        font-size: 5vw;
    }
    .testimonials{
        height: 40vh;
    }
    .testimonials img{
        max-width: 30%;
    }
    .testimonials .testimonials-quote{
        font-size: 4vw;
    }
    .testimonials .testimonials-name{
        font-size: 4vw;
    }
    .testimonials-section .control-buttons{
        padding-bottom: 10%;
    }
}