 .aside .logo a::before{
    border-top: 4px solid #72b626;
    border-left: 4px solid #72b626;
}
.aside .logo a::after{
    border-right: 4px solid #72b626;
    border-bottom: 4px solid #72b626;
}
.blog-post .back-to-blog i,
.aside .nav a:hover,
body.dark .aside .nav a:hover,
.aside .nav a[aria-current="page"],
body.dark .aside .nav a[aria-current="page"],
.aside .copyright-text a,
.about .certifications .all-certificates a,
body.dark .about .certifications .all-certificates a,
body.dark .about .about-content .skills .skill-chart .skill-filter button.active,
.about .certifications .certitication-item a:hover,
body.dark .about .certifications .certitication-item a:hover,
body.dark .about .certifications .certitication-item .time-details .certification-duration,
.about .certifications .certitication-item .time-details .certification-duration,
.about .about-content .skills .skill-chart .skill-filter button.active,
.about .about-content .skills .skill-chart .skill-filter button:hover,
body.dark .about .about-content .skills .skill-chart .skill-filter button:hover,
.about .about-content .about-text p strong,
.about .about-content .about-text h2 span,
.about .about-content .personal-info .info-item a,
.service .service-item .service-item-inner .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.contact .contact-info-item .icon .fa,
.contact .contact-info-item a,
.blog-post .share-buttons i{
    color: #72b626;
}
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a,
.section-title h1::before,
.section-title h1::after,
.about-content h3::before,
.related-posts h3::after,
.btn,
.about-content h3::before,
.about-content h3::after,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.service .service-item .service-item-inner:hover .icon,
.blog .blog-item-inner .blog-img .blog-date,
.blog-post .row .post-image img::after,
.blog-post .related-post-inner .related-post-img .related-post-date,
.related-post .related-post-image img::after
{
    background-color: #72b626;
}
.about .about-content .certifications .certitication-item img,
body.dark .about .about-content .skills .skill-chart .skill-filter button.active,
.about .about-content .skills .skill-chart .skill-filter button.active,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active{
    border-color: #72b626;
}